# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.Python
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
include/
lib/
lib64/
parts/
share/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

pdf_files/

*.cfg
*.xlsx

